@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #333;
    height:100vh;
}

.logo {
    width: 80px;
}

.header {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.profile a {
    font-size: 1.25rem;
    padding: 0 2rem;
}




body {
    background-color: #333 !important;
}

.be-container{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    min-height:89%;
}
.be-nav{
    position:relative;
    display:flex;
    width:100%;
    height:4em;
}
.be-nav .right-hand,.be-nav .left-hand{
    align-self:center;
    position:relative;
    flex-grow:1; 
}
.be-nav .left-hand ul,.be-nav .right-hand ul{
    display:flex;
    align-items:center;
    list-style-type:none;   
}
.be-nav .right-hand ul li{
    margin-top:1.5rem;
    padding:1em;
    color:white;
}
.be-nav .left-hand ul li{
    color:white;
    background-color:#1a1a1a;
    border-top-right-radius:1ch;
    border-top-left-radius:1ch;
    margin-top:1.5rem;
    padding:1em;
}

select[id="programming-language"]{
    background-color:#1a1a1a;
    color:white;
    height:3rem;
    width:5rem;
    border-radius: 20px;
    border:none;
}
.btn-submit{
    background-color:#1a1a1a;
    border:none;
    border-radius: 20px;
    color:white;
    height:3rem;
    width:5rem;
    opacity:1;
    transition:opacity .4s;
}
.btn-submit:hover{
    opacity:50%;
}
.be-content{
    position:relative;
    display:flex;
    min-height:100%;
    overflow:hidden;
    justify-content: space-between;
    flex-grow:1;
}
.be-content .question{
    overflow-y:scroll;
    scroll-behavior: smooth;
    width:49.7%;
    height:50em;
    padding:2rem;
    color:white;
    background-color:#1a1a1a;
}
.be-content .question .content{
    position:relative;
}
.be-content .question .content p{
    text-align:justify;
}

.be-content .code{
    width:49.7%;
    height:50em;
    display:flex;
    flex-direction:column;
}
.be-content .code .code-container{
    height:35em;
    background-color:#272727;
    display:flex;
    overflow-y:scroll;
}
.be-content .code .code-container ol{
    color:white;
    list-style-type: none;
    margin-right:2rem;
}
textarea{
    position:relative;
    background-color:transparent;
    border:none;
    color:white;
    overflow:hidden;
    height:1000em;
}
textarea:focus{
    outline:none;
}
.be-content .code .console-container{
    height:15em;
    overflow-y: scroll;
    background-color:black;
}
.console-container{
    color:white;
}