@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #333;
}

.logo {
    width: 80px;
}

.header {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.profile a {
    font-size: 1.25rem;
    padding: 0 2rem;
}

.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115,115,115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburger .bar::before {
    top: -4.5px;
}

.hamburger .bar::after {
    top: 4.5px;
}

/*END NAVBAR*/

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn {
    display: flex;
    gap: 15px;
}

.start_btn button{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(255, 196, 0);
    cursor: pointer;
}

.start_btn button:hover {
    background: rgb(210, 161, 0);
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}