body {
    background-color: rgb(38, 38, 38) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    text-align: center;
    width: 300px;
}

h1 {
    color: white !important;
}

form {
    line-height: .2;
}

label {
    color: white;
}